main {
    margin-top: 87px;
}

#about-image {
    text-align: center;
}

#about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 1rem;
}

/* Added to override the javascript from the instagram-embed.js file, created by Meta Company */
#instagram-embed-0#instagram-embed-0 {
    min-width: auto !important;
}