/* bigger than 400px */
@media (min-width: 410px) {
    #now-box img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
}

@media (min-width: 600px) {
    main {
        margin: 0;
    }

    #places-ideas-content {
        grid-template-columns: auto auto auto;
    }

    .place-idea {
        transition: 0.5s;
        border-radius: 10px;
    }

    .place-idea:hover {
        scale: 1.03;
        background-color: white;
        color: var(--primary-color);
    }

    #places-ideas button:hover {
        background-color: black;
        color: white;
    }
}

@media (min-width: 700px) {
    #contact {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin-top: 2rem;
    }

    #whatsapp-form {
        width: 50%;
        max-width: 600px;
    }

    #whatsapp-form button {
        transition: 0.5s;
    }

    #whatsapp-form button:hover {
        scale: 1.03;
        box-shadow: 0 0 10px 0 rgba(0, 0, 10, 0.6);
    }
}