main {
    margin-top: 87px;
}

#whatsapp-form h1 {
    padding-top: 10px;
}

#whatsapp-form h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

#whatsapp-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-image: url("../images/whatsapp-background.webp");
    padding: 2rem;
    border-radius: 10px;
}

#whatsapp-form form textarea {
    width: 100%;
    font-size: 1rem;
    border-style: none;
    border-radius: 5px;
    overflow-y: hidden;
    resize: none;
    padding: 7px;
    box-sizing: border-box;
    height: 70px;
}


#whatsapp-form form button {
    background-color: #008069;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#contact-info {
    display: flex;
    flex-direction: column;
}

#contact-info h2 {
    margin: 0;
}

#contact-info p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#contact-info a {
    color: #000000;
    text-decoration: none;
}

#now-box {
    margin: 0;
    text-align: center;
}

#now-box img {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
}

#holiday-message {
    color: gray;
    font-size: 0.8em;
}

/* Container styles */
#places-ideas {
    padding: 20px;
    margin: 0;
    background-color: var(--primary-color);
    text-align: center;
}

#places-ideas h2 {
    font-size: 1.8em;
    color: white;

}

#places-ideas button {
    color: var(--primary-color);
    background-color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

/* Hidden content by default */
#places-ideas-content {
    display: none;
    margin-top: 20px;
}

/* Place idea styles */
.place-idea {
    display: inline-block;
    margin: 15px;
    text-align: center;
}

.place-idea h3 {
    font-size: 1.2em;
    color: white;
}

.place-idea img {
    width: 250px;
    height: 210px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

/* List styling */
#places-ideas-content {
    list-style-type: none;
    padding: 0;
}

.place-idea {
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    transition: background-color 0.3s;
}

/* List styling */
#places-ideas-content {
    list-style-type: none;
    padding: 0;
    justify-items: center;
    align-items: center;
}

.place-idea {
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    transition: background-color 0.3s;
}

