/* ================================================
   Hero Section Styles
   ================================================ */
#hero {
    background-image: url('../images/hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero-call-to-action {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 150px;
    text-decoration: none;
}

#intro-gallery {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: 2rem;
}

#intro {
    text-align: center;
}

#intro img {
    border-radius: 50%;
}

#intro p {
    line-height: 1.5rem;
}

/* ================================================
   Gallery Section Styles
   ================================================ */
.gallery {
    --s: 130px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    position: relative;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background: var(--quaternary-color);
    border-radius: 10px;
    padding: 120px 0;
}

.gallery input {
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    inset: calc(50% - var(--s) / 3);
    cursor: pointer;
    --g: linear-gradient(#000, #000) no-repeat;
    background: var(--g) 50%/var(--b, 0%) 3px, var(--g) 50%/3px var(--b, 0%);
    transition: 1.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gallery > img {
    width: var(--s);
    aspect-ratio: 1;
    object-fit: cover;
    transform: scale(.1);
    filter: brightness(0);
    pointer-events: none;
    transform-origin: var(--x) var(--y);
    transition: 1s calc((var(--i) - 1) * .1s);
}

.gallery > img:nth-of-type(1) {
    --i: 1;
    --x: 145px;
    --y: 145px;
}

.gallery > img:nth-of-type(2) {
    --i: 2;
    --x: -15px;
    --y: 145px;
}

.gallery > img:nth-of-type(3) {
    --i: 3;
    --x: 145px;
    --y: -15px;
}

.gallery > img:nth-of-type(4) {
    --i: 4;
    --x: -15px;
    --y: -15px;
}

.gallery > img:nth-of-type(5) {
    display: none;
}

.gallery > img:nth-of-type(6) {
    display: none;
}

.gallery > img:nth-of-type(7) {
    display: none;
}

.gallery > img:nth-of-type(8) {
    display: none;
}

.gallery > img:nth-of-type(9) {
    display: none;
}

.gallery > input:checked ~ img {
    transform: scale(1);
    filter: brightness(1);
    pointer-events: initial;
}

.gallery > input:checked {
    transform: translateY(calc(1.75 * var(--s))) scale(.5) rotate(45deg);
    --b: 70%;
}

#gallery-text {
    margin: 0;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 2rem;
    position: absolute;
}

/* ================================================
   Testimonials Section Styles
   ================================================ */
#testimonials {
    margin-bottom: 2rem;
}

#testimonials img {
    border-radius: 10px;
}

.testimonial {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.testimonial-text h3, .testimonial-text p {
    margin: 0;
}

.testimonial-text h3 {
    margin-bottom: 5px;
}

#second-testimonial {
    flex-direction: row-reverse;
    background-color: var(--quaternary-color);
    padding: 1rem;
    border-radius: 10px;
}

#second-testimonial h3 {
    color: #834523;
}

#call-to-action {
    text-align: center;
    padding: 5rem 1rem;
    background: var(--primary-color);
    margin: 0;
}

#call-to-action h2 {
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2rem;
}

#call-to-action a {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 3px 4px 20px 0 rgb(0 0 0 / 70%);
    text-decoration: none;
}