/* ================================================
   CSS Variables
   ================================================ */
:root {
    --primary-color: #ac5b2e;
    --secondary-color: white;
    --tertiary-color: black;
    --quaternary-color: #C1CFCB;
}

/* ================================================
   Global Styles
   ================================================ */
html {
    scroll-behavior: smooth;
}

/* Body typography */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
}

/* Headings typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'STIX Two Text', serif;
    color: var(--primary-color);
    font-weight: 500;
}

.container {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* ================================================
   Menu Layout & Navigation Styles
   ================================================ */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: 1000;
}

/* Menu Header & Navigation Bar */
nav, #menu-header {
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

#menu-header > a,
#menu-header > button,
nav > a,
nav > button {
    margin: 1rem;
}

/* Menu Items Layout */
#menu-items {
    display: grid;
    justify-items: stretch;
}

/* Menu Buttons (Open/Close) */
#close-menu-button, #open-menu-button {
    grid-column: 3 / 4;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 300;
}

/* Menu List Styling */
#menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#menu ul li {
    margin: 20px 0;
    font-size: 2em;
}

#menu ul li a {
    text-decoration: none;
    color: black;
}

/* Menu Social Links Styling */
#menu-social-links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Menu Visibility (Toggle) */
.menu-visible {
    transform: translateX(0);
    transition: transform 0.4s ease-out;
}

.menu-hidden {
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
}

/* Initial state of the nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.4s ease-out;
}

/* Class to hide the nav */
.nav-hidden {
    transform: translateY(-100%);
}

/* ================================================
   Footer Styles
   ================================================ */
footer {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    margin-bottom: 82px; /* Adjusted for the fixed action buttons */
}