/* bigger than 600px */
@media only screen and (min-width: 600px) {
    nav {
        position: relative;
        justify-content: space-around;
        align-items: center
    }

    #open-menu-button {
        display: none;
    }

    #menu {
        display: block;
        position: relative;
        width: auto;
        height: auto;
    }

    #menu-items {
        display: block;
        position: relative;
        width: auto;
        height: auto;
    }

    #menu-items ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    #menu-items a {
        font-size: 1.5rem;
        color: var(--primary-color);
        text-decoration: none;
    }

    #menu-header {
        display: none;
    }

    #menu-social-links {
        display: none;
    }

    .menu-hidden {
        transform: translateX(0);
    }

    #action-buttons#action-buttons {
        display: none;
    }

    footer {
        margin: 0;
    }

    footer a {
        margin: 1rem;
        text-decoration: none;
        display: inline-block;
    }
}