:root {
    --bg-primary : #dddddd;
    --bg-secondary: white;
    --bg-headers: #164E70;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    background-color: var(--bg-primary);
}

h1, h2 {
    font-weight: 400;
    margin: 0;
    text-align: center;
}

nav {
    background: rgb(31, 31, 31);
    text-align: center;
    display: none;
}

nav a:link, nav a:visited{
    color: white;
    text-decoration: none;
}

nav li {
    padding: 0.5rem;
    padding-left: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li:hover {
    background-color: gray;
}

#x-icon {
    display: none;
}

#header-details {
    background-color: var(--bg-headers);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#header-details img {
    margin: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#header-details button {
    background-color: transparent;
    border-style: none;
    color: white;
}

#header-details button:hover {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
}

section {
    background-color: var(--bg-secondary);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

section h2 {
    background-color: var(--bg-headers);
    color: white;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-block: 0.5rem;
}

section hr {
    margin-left: 1rem;
    margin-right: 1rem;
}

#course-work ul {
    padding-block: 1rem;
    margin: 0;
}

#city-details {
    text-align: center;
}

#city-details figure {
    padding-bottom: 1rem;
}

#course-links > ul {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    list-style: none;
    text-align: center;
}

#course-links > ul > li {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #E6EDEF;
    border-radius: 0.3rem;
    border: 0.1px solid rgb(169, 169, 169);
}

#course-links li:hover {
    background-color: rgb(169, 169, 169);
    cursor: pointer;
}

#course-links a:visited, #course-links a:link {
    text-decoration: none;
    color: black;
}

#course-links p {
    padding: 0 1rem 1rem 1rem;
}

#required-credits {
    font-weight: 900;
}

.selecting-buttons ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    column-gap: 1rem;
}

.selecting-buttons li {
    background-color: black;
    color: white;
    border-radius: 0.3rem;
    padding-inline: 30px;
    padding-block: 3px;
}

footer {
    background-color: var(--bg-headers);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 100;
}

#course-links .disabled {
    background-color: rgb(94, 94, 94);
    color: white;
}

#course-links .disabled:hover {
    cursor: auto;
}

@media only screen and (min-width: 450px) {
    nav {
        display: block;
    }
    
    nav li {
        padding: 1rem 
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    #course-links > ul {
        display: grid;
        grid: auto / repeat(3, auto);
    }

    #header-details button {
        display: none;
    }

    #header-details {
        gap: 3rem;
        justify-content: center;
    }
}

@media only screen and (min-width: 750px) {
    main {
        display: grid;
        grid: auto / 2fr 1fr;
    }

    #course-links {
        grid-column: 1 / 3;
    }
}

@media only screen and (max-width: 750px) {
    #city-details img {
        width: 100%;
        height: auto;
        max-width: 250px;
        max-height: 375px;
    }
}
